body.consortium, body.index{
    table{
        td.image{
            text-align: center;
        }
        td{
            padding: 20px 40px;
            vertical-align: top;
        }
        td.name, td.ip{
            padding-top: 40px;
        }
        td.name{
            cursor: pointer;
            &:hover a{
                text-decoration: underline;
            }
        }
        tr.tuw{ td.name, td.ip{ padding-top: 15px; }}
        tr.university-twente{ td.name, td.ip{ padding-top: 9px; }}
        tr.festo-didactic{ td.name, td.ip{ padding-top: 7px; }}
        tr.fraunhofer-ipa{ td.name, td.ip{ padding-top: 13px; }}
        tr.idmind{ td.name, td.ip{ padding-top: 29px; }}
        tr.uni-bonn{ td.name, td.ip{ padding-top: 35px; white-space:nowrap}}

        a span.link{
            color: #999;
            text-decoration: none !important;
        }
        a.link{
            color: #999;
            text-decoration: none !important;
        }
    }
}
