body > .content{
    min-height: 500px;
    margin-top: 40px;
    line-height: 1.7em;
    &, a{
        $color: 50;
        color: rgb( $color, $color, $color );
    }
    a:hover{
        text-decoration: underline;
    }

    h1{
        font-family: 'Open Sans Condensed';
        font-size: 50px;
        color: #e0e0e0;
        background-color: white;
        padding-right: 10px;
        margin-bottom: 30px;
    }
}
