#footer{
    margin-top: 150px;
    background-color: rgb( 20,20,20 );
    padding: 40px 0 20px;
    overflow: hidden;

    .partners{
        float: left;
        border-right: 1px solid #555;
        overflow: hidden;
    }
    .partner, .funding{
        line-height: 1.8em;
        font-size: 14px;
        &, a{ color: white; }
    }

    .partner{
        float: left;
        width: 270px;
        a.imageContainer{
            float: left;
        }
        a.text{
            display: block;
            margin-left: 75px;
        }
        &.seventhFramework img{
            width: 60px;
            height: 49px;
        }
    }

    .funding{
        padding: 0 0 50px 30px;
        float: left;
        width: 640px;
        span.title{
            padding-right: 17px;
        }
    }
}
