#footer{
    margin-top: 150px;
    background-color: rgb( 20,20,20 );
    padding: 40px 0 50px;
    overflow: hidden;

    .partners{
        float: left;
        border-right: 1px solid #555;
        overflow: hidden;
    }
    .partner, .funding{
        padding-top: 5px;
        line-height: 1.8em;
        font-size: 14px;
        &, a{ color: white; }
    }

    .partner{
        float: left;
        width: 260px;
        margin-right: 28px;
        a.imageContainer{
            float: left;
        }
        a.text{
            margin-left: 81px;
            display: block;
        }
        &.seventhFramework img{
            width: 65px;
            height: 53px;
        }
    }

    .funding{
        padding-left: 30px;
        float: left;
        width: 580px;
        span.title{
            padding-right: 17px;
        }
    }
}
